fastapi>=0.110.0
uvicorn>=0.28.0
pydantic-settings>=2.2.1
sqlalchemy[asyncio]>=2.0.28
asyncpg>=0.29.0
aiosqlite>=0.20.0
google-genai>=0.1.1
groq>=0.9.0
pyrogram>=2.0.106
tgcrypto>=1.2.5
aiogram>=3.4.1
python-dotenv>=1.0.1

